<!-- <nav>
  <div class="nav-wrapper container">
    <%= link_to 'Summa Robots', root_path, class: "brand-logo"%>
    <ul class="right">
      <div class="col s4 push-right">
        <% if signed_in? %>
          <li><%= link_to 'Sign-Out', destroy_model_session_path, method: :delete %></li>
          <li><%= link_to 'View Robots', new_post_path %></li>
          <li><%= form_tag(posts_path, :method => 'get', id: "search_form", class: "black-text") do  %>
            <%= text_field_tag :search, params[:search], placeholder: "Search our robots" %>
          <% end %></li>
        <% else %>
          <li><%=link_to 'Sign-In', new_model_session_path %></li>
          <li><%=link_to 'Sign-Up', new_model_registration_path %></li>
        <% end %>
      </div>
    </ul>
  </div>
</nav> -->


<script>
$(document).ready(function () {
     $(".button-collapse").sideNav();
});
</script>

<nav>
 <div class="nav-wrapper">
  <%= link_to 'Summa Robotics', root_path, class: "brand-logo"%>
   <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
   <ul class="right hide-on-med-and-down">
     <div class="col s4 push-right">
       <% if signed_in? %>
         <li><%= link_to 'Sign-Out', destroy_model_session_path, method: :delete %></li>
         <li><%= link_to 'View Robots', new_post_path %></li>
         <li><%= form_tag(posts_path, :method => 'get', id: "search_form", class: "black-text") do  %>
           <%= text_field_tag :search, params[:search], placeholder: "Search our robots" %>
         <% end %></li>
       <% else %>
         <li><%=link_to 'Sign-In', new_model_session_path %></li>
         <li><%=link_to 'Sign-Up', new_model_registration_path %></li>
       <% end %>
   </ul>
   <ul class="side-nav" id="mobile-demo">
     <% if signed_in? %>
       <li><%= link_to 'Sign-Out', destroy_model_session_path, method: :delete %></li>
       <li><%= link_to 'View Robots', new_post_path %></li>
       <li><%= form_tag(posts_path, :method => 'get', id: "search_form", class: "black-text") do  %>
         <%= text_field_tag :search, params[:search], placeholder: "Search our robots" %>
       <% end %></li>
     <% else %>
       <li><%=link_to 'Sign-In', new_model_session_path %></li>
       <li><%=link_to 'Sign-Up', new_model_registration_path %></li>
     <% end %>
   </ul>
 </div>
</nav>
